/*NAVIGATION*/

body {
    line-height: 1.42857143;
}

.navContainer {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navContainer2 {
    position: fixed;
    top: 65px;
    width: 100%;
    height: 70px;
    z-index: 10;
}

#myNav {
    margin: 0px 5px 0px 5px;
}

#myNav2 {
    margin: 0px 5px 0px 5px;
}

.navItems {
    width: 100%;
    position: absolute;
    margin: 0 0 0 0;
}

.tab-content {
}

.navItems .mybtn{
    width: 32.8%;
/*    line-height: .42857143;*/
    float: left;

}


.navItems2 {
    width: 51%;
    position: absolute;
    margin: 0 0 0 -18%;
    left: 40%;
}

 .mybtn {
    padding: 0px 5px 0px 5px;
}

/*
#myNav2 .mybtn {
    margin: 5px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
}
*/
/*
#bio{
    background: #E7B29F ;
}
#cv{
    background: #EFBDA3;
}
#contact{
    background: #E8BBA0 ;
}
*/
/*

#bio {
    background: #F2C6B6;
}
*/
/*

#cv {
    background: #F5CDB8;
}
*/
/*

#cntct {
    background: #FFD0B5;
}
*/



.mybtn:nth-of-type(1n+0){
    background: #E8B593;
}

.mybtn:nth-of-type(2n+0){
background: #EDC9BB;
}
.mybtn:nth-of-type(3n+0){
    background: #D7B49D;
}
.mybtn:nth-of-type(4n+0){
    background: #F5CDB8;
}
.mybtn:nth-of-type(5n+0){
    background: #F2C6B6;
}

#maryscahilldotnet{
    background: #EECEB3;
}

.myNav>li>a{
    color: #ffffff;
        text-align: center;
    padding: 0;

}

.tab-content>.active {
    display: block!important;
    visibility: visible!important;
        background: #EECEB3;

}

.tab-content>.tab-pane {
     display: block;
    visibility: hidden;
}

.tab-content>.mybtn>.active {
    display: block!important;
    visibility: visible!important;
}

.tab-content>.mybtn>.tab-pane {
        display: block!important;

    visibility: hidden!important;
}


/*Edit things inside panels here!*/
.mybtn.tab-pane.active {
    padding: 10px 43px;
}


/*cv stuff*/

p.subject{
    font-size: 14px;
    line-height: 14px;
}
p.cvbody{
    font-size: 13px;
    line-height: 14px;
}


/*contact stuff*/
#cntct{
    text-align: center;
}

/*form stuff*/
input[type=text],textarea {
    border-radius: 4px;
    background-color: #B5988C;
    color: #ffffff;
    border: none!important;
}
.submit-button.mybtn{
    background-color: #ffffff;
}
/*-----------------------------*/

.label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.mybtn, .label {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 0px 3px #7d727d;
    -webkit-box-shadow: 0px 1px 3px #afaaa5;
    -moz-box-shadow: 0px 1px 3px #d9d9d9;
    box-shadow: 0px 1px 3px #d9d9d9;
    background: #EBC6B0;
    /*    background: #E5B090;*/

    color: #ffffff;
    font-size: 18px;
    padding: 0px;
    margin: 6px 5px 0px 0px;
    border: solid #f2e2dc 1px;
    text-decoration: none;
}

.mybtn:hover {
    background: #EECEB3;
    text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus{
   background: #EDD9CE;

}
/* ^ NAVIGATION ^ */
/*FULLSCREEN & CONTAINER*/

.fullscreen .container {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.container2 {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
}

body {
    background-color: #ffffff;
}

.wrapper {
    position: fixed;
    overflow: scroll;
    top: 0px;
    width: 100%;
    height: 1500px;
    z-index: -1;
}
/*scrolling hands*/

#hands1 {
    position: fixed;
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-image: url("../images/screenReach2.png");
    background-size: 100%;
    background-repeat: repeat;
    z-index: -50;
}
/*stuck hands*/

#hands2 {
    width: 100%;
    height: 500px;
    z-index: -50;
}

#hands2 img {
    padding: 0;
    margin-top: 10px;
    top: 30px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 1750px;
    z-index: -4;
}

#stockPhoto {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-position: -42px 0px;
    background-image: url("../images/stockPhoto.png");
    background-repeat: repeat;
    background-attachment: scroll;
}
